
html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #4ecca2;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

#clock {
    font-size: 6em; /* Adjust font size for readability */
    color: #333; /* Dark gray color for text */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 2rem; /* Rounded corners */
    width: 15%; /* Adjust width as necessary */
    height: 50vh; /* Half of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;

    /* Additional Styling */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 1px solid #ccc; /* Subtle border */
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2); /* Gradient background */
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover effect */
}

#clock > div {
    /*margin: 0.5em 0; !* Spacing between time units *!*/
    /* Optional: Different color or style for each time unit */

    &:nth-child(1) {
        color: #e74c3c;
    }

    /* Hours */

    &:nth-child(2) {
        color: #2ecc71;
    }

    /* Minutes */

    &:nth-child(3) {
        color: #3498db;
    }

    /* Seconds */
}


.message {
    border-radius: 2rem;
    font-weight: bold;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
    width: 85%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: 2rem;
}

.default-color {
    background-color: #e7eff6;
    color: #333;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; /* Add this for horizontal centering */
}

.register-color {
    background-color: #ffecb3;
    color: #c48800;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; /* Add this for horizontal centering */
    font-size: 8rem;
}

.error-color {
    background-color: #f2dede;
    color: #a94442;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 8rem;
    text-align: center;
    justify-content: center; /* Add this for horizontal centering */
}

.content-container {
    display: flex;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    background-color: #6fb057;
    width: 100%;
    height: 50vh;
    margin: auto;
}

.timer-container {
    float: right;
    width: 40%;
    height: 60%;
    background-color: #191c9b;
    font-size: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    border: 0.2rem solid #ffffff;
    border-radius: 2rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}


.register-container {
    background: #f0f0f0;
    color: #333333;
    height: 95%;
    width: 40%;
    padding: 0.5%;
    border-radius: 2rem;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.15);
    grid-template-columns: auto auto 1fr;
    gap: 1rem;
    align-items: center;
    font-size: 3rem;
}

.register {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.25rem solid #cccccc;
    padding: 1rem;
    font-weight: bold;
}

.register-id,
.register-value,
.register-comment {
    display: inline-block;
}


.register-id {
    color: #007bff;
}

.register-value {
    color: #28a745;
}

.register-comment {
    color: #6c757d;
}

