<div
    id="registers"
    hx-swap-oob="true"
    class="col-span-7 h-full overflow-auto p-4"
>
    <div class="grid grid-cols-1 gap-4">
        {% for register in numeric_registers %}
        <div
            class="flex items-center justify-between p-4 bg-gray-200 rounded-lg shadow text-6xl"
        >
            <span class="text-blue-500">R[{{ register.id }}]</span>
            <span class="text-black-500">{{ register.value }}</span>
            <span class="text-gray-500">{{ register.comment }}</span>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Timer Section Content -->
<div
    id="timer"
    hx-swap-oob="true"
    class="flex flex-col items-center justify-center bg-blue-900 text-white font-bold shadow-md rounded-2xl border-4 border-white h-full col-span-3"
>
    <p class="text-5xl mb-4">Last cycle time</p>
    <span class="text-8xl font-bold">
        {{ '%02d.%02d' % ( timer_value|int, ((timer_value - timer_value|int) *
        100)|int ) if timer_value is defined else '00.00' }}
    </span>
</div>
