<div class="content-container">
    <div class="register-container">
        {% for register in numeric_registers %}
            <span class="register">
                    <span class="register-id">R[{{ register.id }}]</span>
                    <span class="register-value">{{ register.value }}</span>
                    <span class="register-comment">{{ register.comment }}</span>
                </span>
        {% endfor %}
    </div>

    <div class="timer-container">
    <span>
        {{ '%02d.%02d' % (timer_value|int, ((timer_value - timer_value|int) * 100)|int) if timer_value is defined else '00.00' }}
    </span>
    </div>
</div>
