<div class="container-with-timer">
    <div class="register-container">
        {% for register in numeric_registers %}
                <span class="register">
                    <span class="register-id">Register {{ register.id }}</span>
                    <span class="register-value">Value {{ register.value }}</span>
                    <span class="register-comment">{{ register.comment }}</span>
                </span>
        {% endfor %}
    </div>

    <div class="timer-container">
        <span class="timer-value">{{ timer_value|int if timer_value is defined else '0' }}s</span>
    </div>
</div>
